[Unit]
Description=Traffic shaping script
After=network-online.target iptables.service

[Service]
Type=simple
ExecStart=/home/alarm/traffic_shaping.sh
RemainAfterExit=yes
ExecStop=/home/alarm/traffic_shaping.sh stop

[Install]
WantedBy=multi-user.target
